/* color palette from <https://github.com/vuejs/theme> */
:root {
  --theme-background: #c3c5ca;
  --theme-background-green: #e1f2ef;
  --theme-background-menu: #dadfe1;
  --theme-background-border: #eaecf0;
  --theme-white: #fff;
  --theme-font-green: #12a188;
  --theme-font-gray: #929fa6;
  --theme-font-sub-heading: #3e545e;
  --theme-font-gray-600: #1e4354;
}
@font-face {
  font-family: 'hind';
  src: url('@/assets/fonts/Hind/Hind-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'open-sans-bold';
  src: url('@/assets/fonts/OpenSans/OpenSans-VariableFont_wdth,wght.ttf') format('truetype');
  font-weight: 700;
}

@font-face {
  font-family: 'open-sans';
  src: url('@/assets/fonts/OpenSans/OpenSans-VariableFont_wdth,wght.ttf') format('truetype');
  font-weight: 400;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

body {
  min-height: 100vh;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: hind;
}
