@import url('https://fonts.googleapis.com/css2?family=Hind:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap');

/* color palette from <https://github.com/vuejs/theme> */
:root {
  --theme-background: #e9edef;
  --theme-background-green: #e1f2ef;
  --theme-background-menu: #dadfe1;
  --theme-background-border: #eaecf0;
  --theme-text-white: #fff;
  --theme-text-green: #12a188;
  --theme-text-gray: #929fa6;
  --theme-text-sub-heading: #3e545e;
  --theme-text-gray-600: #1e4354;
  --theme-text-gray-500: #6b7280;
  --theme-text-gray-200: #e5e7eb;
}

:root {
  --border-radius-md: 8px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

body {
  min-height: 100vh;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Hind', sans-serif;
}
