@import url('https://fonts.googleapis.com/css2?family=Hind:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

/* color palette from <https://github.com/vuejs/theme> */
:root {
  --theme-background: #e9edef;
  --theme-background-green: #e1f2ef;
  --theme-background-menu: #dadfe1;
  --theme-background-border: #eaecf0;
  --theme-background-table: #f2f5f5;
  --theme-background-price-table: #f9fafa;
  --theme-background-approved: #eaf7ed;
  --theme-background-rejected: #fcebed;
  --theme-background-pending: #fff9e7;
  --theme-text-white: #fff;
  --theme-text-green: #12a188;
  --theme-text-gray: #929fa6;
  --theme-text-gray-300: #d1d5db;
  --theme-text-sub-heading: #3e545e;
  --theme-text-gray-600: #1e4354;
  --theme-text-gray-500: #6b7280;
  --theme-text-gray-200: #e5e7eb;
  --theme-text-approved: #12b76a;
  --theme-text-rejected: #dc3545;
  --theme-text-pending: #f6b100;
}

:root {
  --border-radius-md: 8px;
  --border-radius-lg: 16px;
  --font-weight-600: 600;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

body {
  min-height: 100vh;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Hind', sans-serif;
}
