@import './base.css';
#app {
  height: 100vh;
  display: grid;
  grid-template-columns: 248px 1fr;
  grid-template-rows: 96px 1fr;
  grid-template-areas:
    'side header'
    'side main';
}
.header {
  grid-area: header;
  background-color: var(--theme-background);
  color: var(--theme-text-gray-600);
  padding: 16px;
}

.sidebar {
  background-color: var(--theme-text-white);
  grid-area: side;
  padding: 40px 16px 40px 16px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.main {
  background-color: var(--theme-background);
  grid-area: main;
  padding: 16px;
}

.heading-xs {
  font-size: 20px;
  font-weight: var(--font-weight-600);
}

.md-regular {
  font-size: 1rem;
  font-weight: 400;
}
